.about-container {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
  }
  
  /*********************/
  /* AboutMe component */
  /*********************/
  .about-me-text {
    text-align: center !important;
    padding-top: 30px !important;
    padding-bottom: 50px !important;
  }
  
  .about-me-card {
    border: none !important;
    color: white !important;
    background-color: transparent !important;
  }
  
  .about-me-item {
    text-align: left !important;
    padding-left: 1px !important;
  }
  
  @media (max-width: 767px) {
    .about-me-img {
      padding-top: 0 !important;
    }
  }
  
  /***********************/
  /* Techstack component */
  /***********************/
  .heading {
    color: white !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
  }
  
  .tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }
  
  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px !important;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
  }
  
  .tech-text {
    display: none;
    margin-top: 8px;
    font-size: 0.85rem;
    font-style: italic;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  }
  
  .tech-row:hover .tech-text {
    display: block;
  }
  
  /********************/
  /* GitHub component */
  /********************/
  .github-container {
    display: flex !important;
    flex-direction: column !important;
    padding-top: 50px !important;
    padding-bottom: 10px !important;
    justify-content: center !important;
    align-items: center !important;
  }